/.idea/
/vendor/
composer.lock
/components/
/node_modules/
/public_html/css/
/public_html/fonts/
/public_html/js/vendor
/public_html/js/app.js
/logs/
/templates/cache/*
/templates/_cache/
package-lock.json
logs/
.phpcomplete_extended