<div class="col-md-12">
    <h2>New Book</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-add_book">
                <div class="form-group">
                    <label for="name" >Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" name="author">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" class="form-control" name="genre">
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="text" class="form-control" name="year">
                </div>
                <button class="btn btn-primary btn-lg btn-block btn-add-book">Add Book</button>
            </form>
        </div>
    </div>
 </div>
