{% extends "base.html.twig" %}
{% block title %}Books TABLE{% endblock %}
{% block container %}
    <section>
        <div class="container">
            <div class="container-fluid col-md-8 col-md-offset-2">
                <h2>BookShelf</h2>
            </div>
            <div class="row restore-block">
                {% include 'index-table.html.twig' %}
             </div>
        </div>
    </section>

{% endblock %}