{% extends "base.html.twig" %}
{% block title %}Books TABLE{% endblock %}
{% block container %}
    <section>
        <div class="container">
            <div class="row restore-block">
                {% include 'index-table.html.twig' %}
             </div>
        </div>
    </section>

{% endblock %}